<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>343812380690-vqqodfemqkp3jtvk152r0l9gepq5lfef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343812380690-vqqodfemqkp3jtvk152r0l9gepq5lfef</string>
	<key>API_KEY</key>
	<string>AIzaSyD8FUiyomG5E6s6T9tN1GUCK3BqtqnZmPg</string>
	<key>GCM_SENDER_ID</key>
	<string>343812380690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-a3099</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-a3099.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343812380690:ios:c95dc8bb49ce53b3cf20cb</string>
</dict>
</plist>